<div class="container">
  <div class="row m-0">
    <div class="col-md-7 col-12">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="row box-right">
            <div class="col-md-8 ps-0">
              <p class="ps-3 textmuted fw-bold h6 mb-0">ACCOUNT BALANCE</p>
              <p class="h1 fw-bold d-flex">
                <span
                  class="fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"
                ></span
                >00 <span class="textmuted">.00</span>
              </p>
            </div>
            <div class="col-md-4">
              <p class="p-blue">
                <span class="fa fa-circle pe-2"></span>Bill Amount
              </p>
              <p class="fw-bold mb-3">
                <span class="fa fa-dollar-sign pe-1"></span>00
                <span class="textmuted">.00</span>
              </p>
              <p class="p-org">
                <span class="fa fa-circle pe-2"></span>Amount Owed
              </p>
              <p class="fw-bold">
                <span class="fa fa-dollar-sign pe-1"></span>00<span
                  class="textmuted"
                  >.00</span
                >
              </p>
              <p class="ms-3 px-2 bg-green">+10% since last month</p>
            </div>
          </div>
        </div>
        <div class="col-12 px-0 mb-4">
          <div class="box-right">
            <div class="app-image">
              <!-- Start Account Sign In Area -->
              <div class="account-login section">
                <div class="row">
                  <div class="col-12">
                    <form class="card login-form inner-content" method="post">
                      <div class="card-body">
                        <div class="row text-center">
                          <p class="mb-1"><b>We accept</b></p>
                          <p>
                            <img
                              src="assets/images/logo/visa.png"
                              height="35"
                              alt=""
                            />

                            <img
                              src="assets/images/logo/mastercard.png"
                              height="35"
                              alt=""
                            />

                            <img
                              src="assets/images/logo/ecocash.png"
                              height="35"
                              alt=""
                            />

                            <img
                              src="assets/images/logo/onemoney.png"
                              height="35"
                              alt=""
                            />
                          </p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- End Account Sign In Area -->
            </div>
          </div>
        </div>
        <div class="col-12 px-0 container  ">
          <h2 class="title" style="padding-bottom: 2%;">Choose Payment Method</h2>
          <div class="row box-right">
            <label class="img-btn col-4">
              <input type="radio" name="country-flags" checked />
              <img
                src="assets/images/payment/visa.png"
                alt="#"
              />
            </label>
  
            <label class="img-btn col-4">
              <input type="radio" name="country-flags" />
              <img
                src="assets/images/payment/ecocashUSD.png"
                alt="#"
              />
            </label>
  
            <label class="img-btn col-4">
              <input type="radio" name="country-flags" />
              <img
                src="assets/images/payment/ecocash zwl.png"
                alt="#"
              />
            </label>
            <label class="img-btn col-4">
              <input type="radio" name="country-flags" />
              <img
                src="assets/images/payment/oneMoney.png"
                alt="#"
              />
            </label>
            <label class="img-btn col-4">
              <input type="radio" name="country-flags" />
              <img
                src="assets/images/payment/innbucks.png"
                alt="#"
              />
            </label>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-5 col-12 ps-md-5 p-0">
      <div class="box-left">
        <h1>Payment</h1>

        <div id="messages" role="alert" style="display: none"></div>
      </div>
    </div>
  </div>
</div>
