 
 <script src="contenteditable.directive.ts"></script>
 
 
 <!-- ========== section start ========== -->
 <section class="section" >
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>Profile</h2>
            </div>
          </div>
          <!-- end col -->
         
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->

      <div class="row" *ngIf="user">
        <div class="col-xxl-9 col-lg-8">
          <div class="profile-wrapper mb-30">
            <div class="profile-cover">
              <img src="assets/images/profile/profile-cover.jpg" alt="cover-image" />
            </div>
            <div class="d-md-flex">
              <div class="profile-photo">
                <div class="image">
                  <img src="assets/images/profile/profile-image.png" alt="profile" />
                </div>
                <div class="profile-meta pt-25">
                  <h5 class="text-bold mb-10">{{ user?.firstName }} {{ user?.lastName }}</h5>
                  <p class="text-sm">{{ user?.email }}</p>
                </div>
              </div>
              <div class="profiles-activities w-100 pt-30">
                <ul class="d-flex align-items-center">
                  <li class="mr-30">
                    <p>Account Number : <strong>{{ user?.customerId }}</strong></p>
                  </li>
                 
                  <li class="ms-auto">
                    <div class="more-btn-wrapper">
                      <button class="more-btn dropdown-toggle" id="moreAction" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="lni lni-more-alt"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                        <li class="dropdown-item">
                          <a  class="text-gray" *ngIf="!editMode" (click)="toggleEditMode()">Edit Profile</a>
                        </li>
                        <li class="dropdown-item">
                          <a  class="text-gray"*ngIf="editMode" (click)="saveChanges()">Save Changes</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="profile-info">
              <h5 class="text-bold mb-15">Account Details</h5>
              
              <div class="row">
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15"  *ngIf="!editMode">First Name : </span> {{user?.firstName}}
                  </p>
                  
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm ">
                    <span class="text-bold mb-15">Last Name : </span> {{user?.lastName}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">dateOfBirth: </span> <span contenteditable="true" 
                    >{{user?.dateOfBirth}}</span>
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">email : </span> {{user?.email}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">Phone Number : </span> {{user?.contactNumber}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">gender: </span> {{user?.gender}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">nationalID: </span> {{user?.nationalID}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">occupation: </span> {{user?.occupation}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">emergencyContactName: </span> {{user?.emergencyContactName}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">streetName: </span> {{user?.streetName}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">suburbName: </span> {{user?.suburbName}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">city: </span> {{user?.city}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">state: </span> {{user?.state}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">zipCode: </span> {{user?.zipCode}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">country: </span> {{user?.country}}
                  </p>
                </div>
                <!-- end col -->
                <div class="col-6">
                  <p class="text-sm">
                    <span class="text-bold mb-15">otherAddressDetails: </span> {{user?.otherAddressDetails}}
                  </p>
                </div>
                <!-- end col -->
              </div>
            </div>
       
          </div>
          <!-- end card -->

          <!-- end card -->
        </div>
       
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- ========== section end ========== -->
