<header class="header">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-5 col-md-5 col-6">
        <div class="header-left d-flex align-items-center">
          <button id="menu-toggle" class="header-menu-toggle primary-btn btn-hover" aria-label="Open main menu" aria-expanded="false">
            <i class="lni lni-chevron-left me-2"></i> Menu
          </button> 
          <div class="header-search d-none d-md-flex">
            <form action="#" class="header-search-form">
              <input type="text" placeholder="Search..." />
              <button type="submit"><i class="lni lni-search-alt"></i></button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-7 col-md-7 col-6">
        <div class="header-right">
          <nav class="header-navigation" aria-label="Main navigation">
            <ul class="header-notifications">
              <li class="notification-item">
                </li>
              </ul>

            <ul class="header-messages">
              <li class="message-item">
                </li>
              </ul>

            <div class="profile-box"> 
              </div>
          </nav>
        </div>
      </div>

    </div>
  </div>
</header>
