 <!-- ======== sidebar-nav start =========== -->
 <aside class="sidebar-nav-wrapper">
    
    <nav class="sidebar-nav pt-5">
      <div class="promo-box bottom-div">
        <div class="promo-icon">
          <img class="mx-auto" src="assets/images/logo.png" alt="Logo" style="height: 100%;">
        </div>
      </div>
      <ul>
        <ng-container *ngFor="let item of menuItems">
        <li class="nav-item"  [class.activeRoute]="isActive(item.link)" *ngIf="hasAccess(item)">
          <a [routerLink]="item.link" (click)="changeRouter(item.link)">
            <span class="icon"><i [class]="item.icon"></i></span>
            <span>
              {{item.name}}
            </span>
          </a>
        </li>
      </ng-container>
      </ul>
    </nav>
    <div class="promo-box bottom-div">
      
      <a  routerLink="/login" rel="nofollow" class="main-btn primary-btn btn-hover">
        SIGN OUT <i class="bi bi-box-arrow-left"></i>
      </a>
    </div>
  </aside>
  <div class="overlay"></div>
  <!-- ======== sidebar-nav end =========== -->
