<!-- ========== section start ========== -->
<section class="section">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        
      </div>
      <!-- ========== title-wrapper end ========== -->
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="icon-card mb-30">
            <div class="icon purple">
              <i class="lni lni-users"></i>
            </div>
            <div class="content">
              <h6 class="mb-10">Properties</h6>
              <h3 class="text-bold mb-10">2</h3>
              <p class="text-sm text-success">
                <i class="lni lni-arrow-up"></i> +23.4%
              </p>
            </div>
          </div>
          <!-- End Icon Cart -->
        </div>
        <!-- End Col -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="icon-card mb-30">
            <div class="icon success">
              <i class="lni lni-eye"></i>
            </div>
            <div class="content">
              <h6 class="mb-10">Tarriffs</h6>
              <h3 class="text-bold mb-10">876</h3>
              <p class="text-sm text-danger">
                <i class="lni lni-arrow-down"></i> -12.00%
              </p>
            </div>
          </div>
          <!-- End Icon Cart -->
        </div>
        <!-- End Col -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="icon-card mb-30">
            <div class="icon primary">
              <i class="lni lni-thumbs-up"></i>
            </div>
            <div class="content">
              <h6 class="mb-10">Rates</h6>
              <h3 class="text-bold mb-10">976</h3>
              <p class="text-sm text-danger">
                <i class="lni lni-arrow-down"></i> -2.00%
              </p>
            </div>
          </div>
          <!-- End Icon Cart -->
        </div>
        <!-- End Col -->
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="icon-card mb-30">
            <div class="icon orange">
              <i class="lni lni-pie-chart"></i>
            </div>
            <div class="content">
              <h6 class="mb-10">Water Usage</h6>
              <h3 class="text-bold mb-10">346</h3>
              <p class="text-sm text-success">
                <i class="lni lni-arrow-up"></i> +23.4%
              </p>
            </div>
          </div>
          <!-- End Icon Cart -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
      <section class="service-section">
				<h2>Service</h2>
				<div class="service-section-header">
					<div class="search-field">
						<i class="ph-magnifying-glass"></i>
						<input type="text" placeholder="Account number">
					</div>
					<div class="dropdown-field">
						<select>
							<option>Home</option>
							<option>Work</option>
						</select>
						<i class="ph-caret-down"></i>
					</div>
					<button class="flat-button">
						Search
					</button>
				</div>
				<div class="mobile-only">
					<button class="flat-button">
						Toggle search
					</button>
				</div>
				<div class="tiles">
					<article class="tile">
						<div class="tile-header">
							<i class="ph-lightning-light"></i>
							<h3>
								<span>Water </span>
								<span></span>
							</h3>
						</div>
						<a href="#">
							<span>Go to service</span>
							<span class="icon-button">
								<i class="bi bi-arrow-down-right-circle"></i>
							</span>
						</a>
					</article>
					<article class="tile">
						<div class="tile-header">
							<i class="ph-fire-simple-light"></i>
							<h3>
								<span>City Tarrif and Rates</span>
								<span></span>
							</h3>
						</div>
						<a href="#">
							<span>Go to service</span>
							<span class="icon-button">
								<i class="bi bi-arrow-down-right-circle"></i>
							</span>
						</a>
					</article>
					
				</div>
				<div class="service-section-footer">
					<p>Services are paid according to the current state of the currency and tariff.</p>
				</div>
			</section>
    </div>
    <!-- end container -->
  </section>
  <!-- ========== section end ========== -->