<div class="hero">
  <div class="hero__bg">
    <picture>
      <img src="assets/images/bg.jpg">
    </picture>
  </div>

  <div class="hero__cnt">
    <img src="assets/images/logo/logo.svg" alt="" viewBox="0 0 205 213">
   
    <h1>Smart City Portal</h1>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a routerLink="/login" class="button type--B">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">SIGN UP</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
        </div>
        <div class="col-6">
          <a routerLink="/login" class="button type--B">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">LOGIN</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
        </div>
      </div>
      
    </div>
  </div>
</div>